<table width=538 style="width:538px">
<tr><td><%= image_tag Rails.root.join("public/Cabezal.jpg").to_s, style: 'width:700px;height:auto;' %></td></tr>
<tr><td></td></tr>
<tr><td><%= image_tag Rails.root.join("public/Pie.jpg").to_s, style: 'width:700px;height:auto;' %></td></tr>
</table>